In [1]:
import mysql.connector

In [2]:
mydb=mysql.connector.connect(host='localhost',user='root',password='root')
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001D565742A08>

In [3]:
mycursor=mydb.cursor(buffered=True)
mycursor.execute('SHOW DATABASES')

print(mycursor)

for x in mycursor:
    print(x)

CMySQLCursorBuffered: SHOW DATABASES
('bank',)
('games',)
('hr',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [4]:
# mycursor.execute('CREATE DATABASE bank')

## CREATING TABLE customer_info

In [18]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root",
  database="bank"
)

mycursor = mydb.cursor(buffered=True)

#mycursor.execute("CREATE TABLE customer_info (id INT AUTO_INCREMENT PRIMARY KEY,name VARCHAR(255) NOT NULL,email VARCHAR(255,password VARCHAR(255)))")

In [19]:
mycursor.execute('DESCRIBE customer_info')
for x in mycursor:
    print(x)

('id', 'int', 'NO', 'PRI', None, 'auto_increment')
('name', 'varchar(255)', 'YES', '', None, '')
('email', 'varchar(255)', 'YES', '', None, '')
('password', 'varchar(255)', 'NO', '', None, '')

In [28]:
sql = "INSERT INTO customer_info (name, email,password) VALUES (%s, %s,%s)"
val = [
    ('abc', 'abc@newbank.com','12345'),
    ('def', 'def@newbank.com','00000'),
    ('ijk', 'ijk@newbank.com','11111'), 
]

mycursor.executemany(sql, val) 

mydb.commit()

In [29]:
mycursor.execute('SELECT * from customer_info')

myresult = mycursor.fetchall()
for x in myresult:
    print(x)

(7, 'abc', 'abc@newbank.com', '12345')
(8, 'def', 'def@newbank.com', '00000')
(9, 'ijk', 'ijk@newbank.com', '11111')
(10, 'abc', 'abc@newbank.com', '12345')
(11, 'def', 'def@newbank.com', '00000')
(12, 'ijk', 'ijk@newbank.com', '11111')

In [37]:
a='ddc'

In [38]:
sql = "SELECT name FROM customer_info WHERE name = %s"
adr = (a, )

mycursor.execute(sql, adr)

myresult = mycursor.fetchone()

for x in myresult:
    print(x)

TypeError: 'NoneType' object is not iterable

In [36]:
type(myresult[0])

str

In [ ]:
sql = "SELECT * FROM customer_info WHERE name = %s"

In [ ]:
from tkinter import *
from functools import partial

def validateLogin(username, password):
    print("username entered :", username.get())
    print("password entered :", password.get())
    try:
        mycursor.execute("SELECT name FROM customer_info WHERE name = %s",(str(username.get()),))
        user = mycursor.fetchone()[0]
        print('SQL',user)
        mycursor.execute('SELECT password from customer_info where name=%s',(str(username.get()),))
        password1=mycursor.fetchone()[0]
        print('Pass',password)
        if username.get()==user:
            if password.get()==password1:
                print('Hi',username.get())
                Label(tkWindow,text=f'Hi {username.get()}').grid(row=5,column=5)
            else:
                print('Invalid password')
                Label(tkWindow,text='Invalid Password').grid(row=1,column=2)
    except TypeError:
        print('User does not exists')
        Label(tkWindow,text='User does not exists').grid(row=0,column=2)
        
        
    

#window
tkWindow = Tk()  
tkWindow.geometry('250x150')  
tkWindow.title('Bank Login')

#username label and text entry box
usernameLabel = Label(tkWindow, text="User Name").grid(row=0, column=0)
username = StringVar()
usernameEntry = Entry(tkWindow, textvariable=username).grid(row=0, column=1)  

#password label and password entry box
passwordLabel = Label(tkWindow,text="Password").grid(row=1, column=0)  
password = StringVar()
passwordEntry = Entry(tkWindow, textvariable=password, show='*').grid(row=1, column=1)  

validateLogin = partial(validateLogin, username, password)

#login button
loginButton = Button(tkWindow, text="Login", command=validateLogin).grid(row=4, column=0)  

#label=Label(finalwindow,text='Hi user').grid(row=4,column=4)

tkWindow.mainloop()